/* You can add global styles to this file, and also import other style files */
* {
    font-family: sans-serif;
}

h1 {
    font-size: 35px;
    color: #431a1a
}

p {
    font-size: 18px;
}

input[type=text],
select {
    height: 26px;
    border-radius: 15px;
    border: 1px solid #b8b8b8;
    margin-bottom: 5px;
    padding: 0 15px
}

.botao {
    border: 0;
    padding: 15px;
    border-radius: 45px;
    display: block;
    margin: 15px 0;
    cursor: pointer
}

.vermelho {
    background: #d10d0d;
    color: #fff;
}

.verde {
    background: #0dd114;
    color: #fff;
}

.botao:disabled {
    background: #c9c9c9;
    cursor: default
}