/* You can add global styles to this file, and also import other style files */
* {
    font-family: sans-serif;
}

h1 {
    font-size: 35px;
    color: #431a1a
}

p {
    font-size: 18px;
}

.botao {
    border: 0;
    padding: 15px;
    border-radius: 45px;
    display: block;
    margin: 15px 0;
}

.vermelho {
    background: #d10d0d;
    color: #fff;
}

.verde {
    background: #0dd114;
    color: #fff;
}